<div>
<!--  <h3>{{response}}</h3>-->
<!--  <h1>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h1>-->
<!--  <h2>{{message1}}; {{message2}}; {{count}} </h2>-->
<!--  <button type="button" mat-raised-button (click)="echo()">-->
<!--    echo-->
<!--  </button>-->
<!--  &nbsp;&nbsp;&nbsp;-->
<!--  <button type="button" mat-raised-button (click)="hello()">-->
<!--    hello-->
<!--  </button>-->
<!--&nbsp;&nbsp;-->
<!--  <button type="button" mat-raised-button (click)="helloMy()">-->
<!--    hello My-->
<!--  </button>-->

<!--  &nbsp;&nbsp;-->
<!--  <button type="button" mat-raised-button (click)="onUsers()">-->
<!--    Users list-->
<!--  </button>-->

  &nbsp;&nbsp;
  <button type="button" mat-raised-button (click)="onUsersStream()">
    onUsersStream
  </button>

</div>